/*Course Homepage CSS*/

body {
background-color:rgb(226, 159, 226);
}
body {
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 82.7;
}